
.products_container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    width: 80vw;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    padding-bottom: 100px;
}
.product_box img{
    object-fit:cover;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
}
.product_box{
    text-align: center;
    color: black;
    background-color: #DEDEDE;
    padding: 30px;
    border-radius: 10px;
    border: 6px solid black;
}
.product_box img:hover{
    transform: scale(1.05);
}
.product_box button{
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    font-family: 'kanit';
    width: 150px;
    background-color: #00BF63;
}